<div class="add-student">
    <form #studentForm="ngForm" (ngSubmit)="AddStudent(studentForm)">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="studentIDNumber" class="form-label">ID Number:</label>
                <input type="text" class="form-control" id="studentIDNumber" name="studentIDNumber" #studentIDNumber (ngModel)="studentIDNumber">
            </div>
            <div class="col-md-6 mb-3">
                <label for="studentName" class="form-label">Name:</label>
                <input type="text" class="form-control" id="studentName" name="studentName" #studentName (ngModel)="studentName">
            </div>
        </div>
        <div class="mb-3">
            <label for="studentEmail" class="form-label">Email:</label>
            <input type="email" class="form-control" id="studentEmail" name="studentEmail" #studentEmail (ngModel)="studentEmail">
        </div>
        <div class="mb-3">
            <label for="studentPhoneNumber" class="form-label">Phone Number:</label>
            <input type="text" class="form-control" id="studentPhoneNumber" name="studentPhoneNumber" #studentPhoneNumber (ngModel)="studentPhoneNumber">
        </div>
        <div class="mb-3">
            <label for="studentProfilePicture" class="form-label">Profile Picture:</label>
            <input type="text" class="form-control" id="studentProfilePicture" name="studentProfilePicture" #studentProfilePicture (ngModel)="studentProfilePicture">
        </div>
        <div class="row">
            <div class="col-md-5 mb-3">
                <label for="studentHasPCNumber" class="form-label">PC Number:</label>
                <input type="text" class="form-control" id="studentHasPCNumber" name="studentHasPCNumber" #studentHasPCNumber (ngModel)="studentHasPCNumber">
            </div>
            <div class="col-md-5 mb-3">
                <label for="studentHasBike" class="form-label">Has Bike:</label>
                <select class="form-select" id="studentHasBike" name="studentHasBike" #studentHasBike (ngModel)="studentHasBike">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="col-md-2 mb-3 d-flex align-items-end">
                <button type="submit" class="btn">Save</button>
            </div>
        </div>
    </form>
</div>