<nav class="sidebar">
    <header>
        <div class="image-text d-flex align-items-center">
            <div class="image">
                <img id="image-logo" src="https://enaa.ma/images/icon/logo.svg" alt="logo">
            </div>
        </div>
    </header>
    <div class="menu-bar">
        <div class="menu d-flex flex-column justify-content-between">
            <div class="first-option">
                <div class="menu-links">
                    <li class="nav-link my-2">
                        <fa-icon [icon]="faBuildingColumns"></fa-icon>
                        <span class="text nav-text">Dashboard</span>
                    </li>
                    <li class="nav-link my-2 active">
                        <fa-icon [icon]="faUserGraduate"></fa-icon>
                        <span class="text nav-text">Students</span>
                    </li>
                    <li class="nav-link my-2">
                        <fa-icon [icon]="faChalkboardUser"></fa-icon>
                        <span class="text nav-text">Teachers</span>
                    </li>
                    <li class="nav-link my-2">
                        <fa-icon [icon]="faUsers"></fa-icon>
                        <span class="text nav-text active-span">Staff</span>
                    </li>
                    <li class="nav-link my-2">
                        <fa-icon [icon]="faUserTie"></fa-icon>
                        <span class="text nav-text">Admins</span>
                    </li>
                </div>
            </div>
            <div class="last-option">
                <li class="nav-link my-2">
                    <fa-icon [icon]="faCircleInfo"></fa-icon>
                    <span class="text nav-text">Support & help</span>
                </li>
                <li class="nav-link my-2">
                    <fa-icon [icon]="faGear"></fa-icon>
                    <span class="text nav-text">Setting</span>
                </li>
                <li class="nav-link my-2">
                    <fa-icon [icon]="faSignOut"></fa-icon>
                    <span class="text nav-text">Logout</span>
                </li>
            </div>
        </div>
    </div>
  </nav>
  