<section class="student-home d-flex flex-column">
    <div class="admin d-flex flex-row justify-content-between">
        <div class="head-action d-flex flex-row justify-content-center">
            <fa-icon [icon]="faNewspaper"></fa-icon>
            <fa-icon [icon]="faInbox"></fa-icon>
            <fa-icon [icon]="faListCheck"></fa-icon>
        </div>
        <div class="search d-flex flex-row justify-content-center align-content-center align-items-center">
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            <input class="col-8" id="search" type="text" placeholder="Search...">
        </div>
        <div class="admin-profile d-flex flex-row justify-content-between">
            <div class="admin-notif d-flex flex-row justify-content-center">
                <fa-icon [icon]="faMoon"></fa-icon>
                <!-- <i id="light_darkmode" class="fa-solid fa-moon"></i> -->
                <fa-icon [icon]="faBell"></fa-icon>
            </div>

            <div class="profile d-flex flex-row justify-content-between">
                <div class="image">
                    <img src="https://img.freepik.com/free-vector/illustration-customer-service-concept_53876-5883.jpg?w=740&t=st=1715635650~exp=1715636250~hmac=2b69af393caac7b5bf545fada979a082eeabf22bfb50fa2ce2ec44c8bc85d1cf"
                         alt="">
                    <div class="online"></div>
                </div>
                <div class="profile-info d-flex flex-column">
                    <span>Yassine OULARBI</span>
                    <span>yassineoularbi4gmail.com</span>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</section>